In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv('car_evaluation.csv',header = None)

In [9]:
df.shape

(1728, 7)

In [10]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1728 non-null   object
 1   1       1728 non-null   object
 2   2       1728 non-null   object
 3   3       1728 non-null   object
 4   4       1728 non-null   object
 5   5       1728 non-null   object
 6   6       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [12]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
dtype: int64

In [13]:
col_names = ['buying','maint','doors','persons','lug_boot','safety','target']
df.columns = col_names
col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'target']

In [14]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.5.0-py2.py3-none-any.whl (69 kB)
Requirement already satisfied: scipy>=1.0.0 in c:\users\saif ali\anaconda3\lib\site-packages (from category_encoders) (1.7.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\saif ali\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\saif ali\anaconda3\lib\site-packages (from category_encoders) (0.13.2)
Requirement already satisfied: pandas>=1.0.5 in c:\users\saif ali\anaconda3\lib\site-packages (from category_encoders) (1.4.2)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\saif ali\anaconda3\lib\site-packages (from category_encoders) (1.0.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\saif ali\anaconda3\lib\site-packages (from category_encoders) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\saif ali\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\saif ali\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\saif ali\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\saif ali\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\saif ali\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: packaging>=21.3 in c:\users\saif ali\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\saif ali\anaconda3\lib\site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.4)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.0

In [16]:
X = df.drop(['target'],axis=1)
y = df['target']

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.2,random_state =1)

In [31]:
X_train.shape ,X_test.shape

((1382, 6), (346, 6))

In [32]:
X_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object

In [33]:
X_train.head()

     buying maint  doors persons lug_boot safety
1579    low   med      4       4      med    med
634    high  high  5more       4      med    med
299   vhigh   med  5more       2    small   high
1085    med   med      2       2      med   high
1659    low   low      3       4      med    low

In [34]:
import category_encoders as ce
encoder1 = ce.OrdinalEncoder(cols=['buying','maint','doors','persons','lug_boot','safety'])
X_train = encoder1.fit_transform(X_train)
X_test = encoder1.transform(X_test)

In [35]:
encoder2 = ce.OrdinalEncoder(cols=['target'])
y_train = encoder2.fit_transform(y_train)
y_test = encoder2.transform(y_test)

In [36]:
X_train.head()

      buying  maint  doors  persons  lug_boot  safety
1579       1      1      1        1         1       1
634        2      2      2        1         1       1
299        3      1      2        2         2       2
1085       4      1      3        2         1       2
1659       1      3      4        1         1       3

In [37]:
X_test.head()

      buying  maint  doors  persons  lug_boot  safety
1233       4      3      4        3         2       3
592        2      2      4        3         3       1
625        2      2      2        2         1       1
1546       1      1      4        2         3       1
730        2      1      2        2         2       1

In [38]:
y_train.head()

      target
1579       1
634        2
299        3
1085       3
1659       3

In [39]:
y_test.head()

      target
1233       3
592        2
625        3
1546       3
730        3

In [40]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion='entropy')
dt.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [41]:
y_pred = dt.predict(X_test)

In [42]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.9364161849710982